body {background-image: url(../images/headerlogo/background.jpg);
    font: bold 14px sans-serif;
    margin:0;font-family:Arial;
}
.ui-slider {
    background-image: -webkit-linear-gradient(left, red 50%, blue 50%);
}
.nav { margin-bottom: 0; }
.dropdown { position: static; }
.dropdown-menu { width: 100%; text-align: center; }
.dropdown-menu>li { display: inline-block; }
.nav-top{
  width: 100%;
  height: 40px;
  background: darkblue;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: 1px;
  overflow: hidden;
  font: bold 14px sans-serif;
}
.nav-top a {color: white;}

.nav-top div.row{padding 10px 0;}
.head-room{margin-top: 40px;}
.navbar-fixed-top{transition: all 3s ease;}
.body-top{margin-top: 50px;} /* prevent overlay of body and navbar*/

.bar-top{
  width: 100%;
  background: darkblue;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: 1px;
  overflow: hidden;
  font: bold 14px sans-serif;
}
div.polaroid {
  background-color: #fbf9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 40px;
  padding: 5px 0px;
  background-image: url(../images/headerlogo/backgroundf.jpg);
}

.padding-0{
    padding-right:6px;
    padding-left:6px;
}
#sales{
  background-color: lightred;
  /*-ms-transform:rotate(-10deg); /* IE 9 */
  /*-moz-transform:rotate(10deg); /* Firefox */
  /*-webkit-transform:rotate(-10deg); /* Safari and Chrome */
  /*-o-transform:rotate(10deg); /* Opera */
}


#dbutton{
  cursor:pointer;
  min-height:30px;
  position:relative;

	border: 1px solid #333;
	border-radius: 8px;
  padding: 4px 8px;margin-left:20px;

  font:12pt Calibri bold;
  font-variant:small-caps;
  color: #fff;
	text-shadow: 0 0 0;
	outline: 0;
	letter-spacing: 2px;

	text-shadow: 0 1px 4px #111;
	/*box-shadow*/
	box-shadow: 0 1px 4px rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 1px rgba(255,255,255,.1);
	/*linear-gradient background: linear-gradient(#333,#666);*/
	background: linear-gradient(darkblue,darkred);
}
#dbuttoncarousal{
  cursor:pointer;
  min-height:30px;
  position:relative;

	border: 1px solid #333;
	border-radius: 8px;
  padding: 4px 8px;margin-left:20px;

  font:12pt Calibri bold;
  font-variant:small-caps;
  color: #fff;
	text-shadow: 0 0 0;
	outline: 0;
	letter-spacing: 2px;

	text-shadow: 0 1px 4px #111;
	/*box-shadow*/
	box-shadow: 0 1px 4px rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 1px rgba(255,255,255,.1);
	/*linear-gradient background: linear-gradient(#333,#666);*/
	background: linear-gradient(red,#666);
}

input:hover{box-shadow:0px 0px 4px #fff;}
input:active{top:1px;}

.product_title{
  font: Calibri bold;
  font-variant:small-caps;
}

.padding-index{
    padding-right:10px;
    padding-left:10px;
}
.navbar {
  background-color: red;
  padding-top:1px;
  font: bold 16px sans-serif;
  font: white;

}

#myNavbar a{
  color: white;
}

.dropdown-menu {
    background-color: darkblue;
    font: bold 16px sans-serif;

}

/* Current/active navbar link #E2E3E5 */
.active {
  background-color: darkblue;
}

#pricelabel{
  background-color: darkblue;
  color: white;
  font: bold 16px sans-serif;
}
.modal-header{
  background-color: darkblue;
  color: white;
}
.modal-body{
  background-color: #EEF1F4;
  color: black;
}
.modal-footer{
  background-color: #B7B9BA;
  color: white;
}
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
#myNavbar a{
  color: white;
}
#myNavbar a:hover{
  background-color: darkblue;
}
.dropdown-menu {
    background-color: red;
    font: bold 16px sans-serif;
}
#brand{
  background-color: darkblue;
  font: bold 16px sans-serif;
  color: white;
  padding:10px 10px;
}

#headerWrapper{
  position:relative;
  padding:40px;
  margin:0;
  overflow-x:hidden;
  height:300px;
  background-image: url(../images/headerlogo/background.png);
  background-repeat: no-repeat;
  background-size: 100% 300px;
  background-position: top center;
  background-attachment: fixed;
  }

  #headerWrapperPartial{
    position:relative;
    padding:0;
    margin:0;
    overflow-x:hidden;
    height:300px;
    background-image: url(../images/headerlogo/background.png);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    background-position: top center;
    background-attachment: fixed;
    }
    #logotextP{
      position: absolute;
      width: 100%;
      height: 180px;
      background-image: url(../images/headerlogo/text.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0% 0px;
      top: 20%;
      margin-top: -90px:
      }

    #fore-flowerP{
      position: absolute;
      width: 100%;
      height: 400px;
      background-image: url(../images/headerlogo/fore-flower.png);
      background-size:auto 400px;
      background-repeat: no-repeat;
      background-position: right bottom;
      top:100px;
      right: -50px;
      }

    #back-flowerP{
      position: absolute;
      width: 100%;
      height: 350px;
      background-image: url(../images/headerlogo/back-flower.png);
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: auto 350px;
      top: 100px;
      left:-25px;
    }
#logotext{
  position: absolute;
  width: 100%;
  height: 180px;
  background-image: url(../images/headerlogo/text.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0% 0px;
  top: 50%;
  margin-top: -90px:
  }

#fore-flower{
  position: absolute;
  width: 100%;
  height: 400px;
  background-image: url(../images/headerlogo/fore-flower.png);
  background-size:auto 400px;
  background-repeat: no-repeat;
  background-position: right bottom;
  top:100px;
  right: -50px;
  }

#back-flower{
  position: absolute;
  width: 100%;
  height: 350px;
  background-image: url(../images/headerlogo/back-flower.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 350px;
  top: 100px;
  left:-25px;
}
/* use . to target a class */
img.img-thumb{
  width: 200px;
  height: 200px;
}

#footer{
  margin-top: 50px;
}
 /* position the product image screen (pop  up detail) to center of container*/
fotorama__wrap{
  width: 90%;
  margin: 15px auto;
}


#fotorama{
  width: 100%;
  height: 300px;
}
img.detailsrightbar{
  width: 90%;
  margin: 15px auto;
}
img.cartImage{
  width: 20%;
  margin: 15px auto;
}

.table-brand{
  width: 70%;
  margin:0 auto;
  text-align:center;
}
#table-inventory{
  width: 90%;
  margin:0 auto;
}
#add-product-btn{
  margin-top: -35px;
}

#add-user-btn{
  margin-top: -35px;
}
.saved-image{
  text-align: center;
}
.saved-image img{
  width:auto;
  height: 150px;
}
#login-form{
  width: 50%;
  height: 60%;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
  margin: 7% auto;
  padding: 15px;
  background-color: #fff;
  background-image: url(../images/headerlogo/login-image.png);
}
/*
#password{
  width: 70%;
  height: auto;
}

#email{
  width: 70%;
  height: auto;
}
*/
img.display{
  width: 30%;
  height: auto;

}

.totals-table-header th{
  text-align:center;
  background-color: #B0C4DE;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
}

/*side bar cart color */
#subTcart{
  text-align:center;
  background-color: #B0C4DE;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
}

#searchBy{
  color: white
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
}
/*display cart summary on side bar */
#cart_widget td, #recent_widget td{
  font-size: 12px;
}

input[id="tType"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}
.item-table-header th{
  text-align:center;
  background-color: #B0C4DE;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
}

.items_ordered_header th{
  text-align:center;
  background-color: #B0C4DE;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
}
#orderTableHead1 th #orderTableHead2 th{
  text-align:center;
  background-color: #B0C4DE;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
}

.table th{
  text-align:center;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
  font-size: 16px;
  background-color: darkblue;
  color: white;
}
#button{
  text-align:center;
  font-size: 16px;
  background-color: darkblue;
  color: white;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #93baf9;
  color: white;
  font: bold 14px ;
}
.grandTotallabel{
  text-align:center;
  background-color: #690;
}

.table-body{
  text-align:center;
}


#myCarousalIndex{
  height: 500px;
  width: 100%;
  overflow: hidden;
}

#myCarousalIndex img{
  height: 500px;
  width: 100%;
  overflow: hidden;
}

#myCarousalIndexsidebar{
  height: 350px;
  width: 100%;
  overflow: hidden;
}

#myCarousalIndexsidebar img{
  height: 350px;
  width: 100%;
  overflow: hidden;
}

#myCarousal{
  position:relative;
  padding:0;
  margin:0;
  overflow-x:hidden;
  height: 300px;
  width: 100%;
}

#myCarousal img{
  height: 300px;
  width: 100%;
}

#animation img:hover{
  animation: bounce 1s;
}

/* Pagination links */
.pagination a {
    padding: 10px 18px;
    font-size: 16px;
    background-color: #21618c;
    color: white;

}

/* Style the active/current link */
.pagination a.active {
    background-color: brown;
    color: #21618c;
}

.pagination a.not:active {
    background-color: #21618c;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
  color: black;
}


.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
#socialHover a:hover {
  background-color: #000;
  animation: bounce 1s;
}
#facebook {
  background: #3B5998;
  color: white;
}

#twitter {
  background: #55ACEE;
  color: white;
}

#instagram {
  background: #dd4b39;
  color: white;
}

#linkedin {
  background: #007bb5;
  color: white;
}

#youtube {
  background: #bb0000;
  color: white;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.form-signin {
  max-width: 40%;

  margin: 0 auto;
}
#registerLabel{
  text-align:center;
  background-color: darkblue;
  color: white;
  box-shadow: 7px 7px 7px rgba(0.6, 0, 0, 0.6);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 0px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
